/* --------------------------------------------------------------------------------------- Text/Padding/Margin */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.text-medium {
    font-weight: 500;
}

.text-semibold {
    font-weight: 600;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-padding {
    padding: 0;
}

/* --------------------------------------------------------------------------------------- Containers */

.container-wrapper {
    padding: 2rem 0; 
}

.container-wrapper-1 {
    padding: 1rem 0;
}

/* --------------------------------------------------------------------------------------- Background Colors */

.bg-color-white {
    background-color: #FFFFFF;
}

.bg-color-grey {
    background-color: #EFEFEF;
}

.bg-color-dark-grey {
    background-color: #D9D9D9;
}

.bg-color-red {
    background-color: #D8031C;
}

.bg-color-light-blue {
    background-color: #6497BF;
}

/* --------------------------------------------------------------------------------------- Text Colors */

.text-blue {
    color: #01016F;
}

.text-red {
    color: #D8031C;
}

.text-grey {
    color: #5A5A5A;
}

.text-light-blue {
    color: #6497BF;
}

.input-field label {
    color: #6497BF;
}

.input-field .valid[type=text] {
    color: #01016F;
}

/* --------------------------------------------------------------------------------------- Buttons */

.btn, .btn-large, .btn-small {
    font-weight: 600;
    border-radius: 32px;
    text-align: center;
    background-color: #01016F;
    color: #FFFFFF;
}

.btn:hover {
    background-color: #6497BF;  
}

.btn-red {
    background-color: #D8031C;
    color: #FFFFFF;
}

/* --------------------------------------------------------------------------------------- Icons */

.icon-red {
    color: #D8031C;
}

.icon-blue {
    color: #01016F;
}

/* --------------------------------------------------------------------------------------- Misc */

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 90%;
    color: #01016F;
    display: block;
    line-height: 22px;
    padding: 14px 14px;
    font-weight: 500;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #D8031C;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #01016F;
}

.card-panel {
    border-radius: 8px;
}

.breadcrumbs:hover {
    color: #6497BF;
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/* --------------------------------------------------------------------------------------- Navbar */

nav {
    border-bottom: 1.5px solid #01016F;
}

nav ul a {
    color: #01016F;
    font-weight: 500;
}

nav ul a:hover {
    background-color: #EFEFEF;
}

ul.sidenav li a {
    color: #01016F;
}

ul.sidenav li a:hover {
    background-color: #EFEFEF;
}

/* --------------------------------------------------------------------------------------- Jumbotron */

.jumbotron-image {
    height: 75vh;
    background-image: url('../images/jumbotron-mobile.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px rgba(0,0,0,0);
    margin: 0;
}

#jumbotron .container {
    margin-left: 0;
    margin-right: 0;
}

.jumbo-content {
    text-align: left;
}

.jumbo-subtitle {
    margin-bottom: 125px;
    font-size: 125%;
}

.jumbo-text {  
    font-size: 110%;
}

/* --------------------------------------------------------------------------------------- Home Page */

.home-title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 3rem;
    line-height: 2.5rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

li.man-list {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    line-height: 1.75rem;
}

li.man-list:last-child {
    margin-bottom: 3rem;
}

li.man-list span {
    font-size: 120%;
}

li i {
    margin-right: 1rem;
}

li i.fa-location-dot {
    margin-right: 1.5rem;
}

.home-content-image {
    text-align: center;
    margin-top: 3rem;
}

.man-image {
    width: 80%;
    margin-top: 0;
}

.caption-text {
    font-size: 110%;
    line-height: 2.25rem;
}

.home-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    display: block;
}

.devices-title {
    font-size: 2rem;
    max-width: 60%;
}

.devices-text {
    font-size: 125%;
}

/* --------------------------------------------------------------------------------------- Registration */

.register-subtitle {
    margin-bottom: 0;
    font-size: 125%;
}

.label-sub-text {
    font-weight: 200;
    font-style: italic;
    font-size: smaller;
}

.link-text a:hover {
    color: #6497BF;
}

/* --------------------------------------------------------------------------------------- Dashboard */

.dash-num {
    font-size: 3rem;
}

/* --------------------------------------------------------------------------------------- Locations */

.col.s6.title-left {
    padding-left: 0;
}

.col.s6.title-right {
    padding-right: 0;
}

.locations {
    color: #6497BF;
    background-color: #F5F5F5;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

a {
    color: inherit; 
}

.locations-icon {
    font-size: 1.6rem;
}

/* --------------------------------------------------------------------------------------- Items */

.search-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.search-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.collapsible {
    box-shadow: none;
    border: none;
    margin-top: 0;
}

.collapsible-header:hover {
    background-color: #EFEFEF;
}

.header-table {
    width: 100%;
    border-collapse: initial;
}

.header-table tr td {
    width: 0!important;
}

.table-header {
    width: 5%;
}

.header-table tr td {
    width: 45%;
}

.body-table {
    width: 100%;
}

.body-table tr th {
    width: 15%;
}

.collapsible li i {
    margin: 0;
}

.collapsible li.active i.fas.fa-caret-right {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.collapsible-body {
    border-bottom: none;
}

.col.s12.items {
    padding-left: 0;
    padding-right: 0;
}

.mandatory-text {
    font-size: 0.875rem;
    font-weight: 400;
    color: #6497BF;
}

.expired {
    background-color: #D8031C;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

/* --------------------------------------------------------------------------------------- Footer */

.footer-media {
    display: flex;
    justify-content: space-around;
}

.footer-media a i:hover {
    color: #6497BF;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-title {
    margin-top: 0;
    font-weight: 600;
    color: #01016F;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 120%;
    color: #D8031C;
}

.footer-text {
    font-size: 90%;
}

.page-footer .footer-copyright {
    background-color: inherit;
}

.page-footer {
    border-top: 1.5px solid #01016F;
}

/* --------------------------------------------------------------------------------------- Media Queries */

/* Small Mobile Devices */
@media (min-width: 280px) and (max-width: 320px) {
    

}

/* Mobile Devices - Landscape */
@media screen and (min-width: 576px) and (max-width: 991px) and (orientation: landscape) {
    

}

/* Mobile Devices - Portrait */
@media screen and (max-width: 767px) {
    .container-items {
        width: 100%;
        max-width:initial;
    }

    .container-items > .row {
        margin: 0;
    }

    .container-items > .row > .col {
        padding: 0;
    }

}

/* Tablet / Desktop Devices - Portrait */
@media screen and (min-width: 768px) {
    .jumbotron-image {
        background-image: url('../images/jumbotron.webp');
        background-position: center center;
    }

    .jumbo-title {
        font-size: 4rem;
    }

    .jumbo-subtitle {      
        font-size: 200%;
    }

    .jumbo-text {
        font-size: 140%;
        max-width: 60%;
    }

    .home-content {
        display: flex;
        align-items: center;
    }
    
    li.man-list {
        margin-bottom: 0.5rem;
        line-height: 4rem;
    }
    
    li.man-list span {
        display: flex;
        font-size: 125%;
    }

    .home-content-image {
        text-align: right;
        margin-top: 0;
    }

    .man-image {
        width: 60%;
    }

    .collapsible-header {
        background-color: #F5F5F5;
        border-bottom: none;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .btn-search div {
        padding-top: 25px;
    }

}

/* Tablet / Desktop Devices - Portrait and Landscape */
@media screen and (min-width: 992px) {
    

}