{% extends "base.html" %}
{% block content %}    

<!-- edit item - title -->
<div class="container-wrapper bg-color-light-blue shadow">
    <div class="container">
        <div class="row center-align no-margin-bottom">
            <div class="col s12">
                <h5 class="white-text no-margin-top no-margin-bottom"><span class="text-red">Edit</span> item</h5>
            </div>
        </div>
    </div>
</div>

<div class="container container-wrapper">
    <div class="row no-margin-bottom">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_item', location_id=location_id, item_id=item._id) }}">
            <div class="card-panel">
                <!-- location name -->
                <div class="row no-margin-bottom">
                    <div class="input-field col s12">
                        <select id="location_name" name="location_name" class="validate" required>
                            <option class="text-blue" value="" disabled selected>Choose Location</option>
                            {% for location in locations %}
                                {% if location.location_name == item.location_name %}
                                    <option class="text-blue" value="{{ location.location_name }}" selected>{{ location.location_name }}</option>
                                {% else %}
                                    <option class="text-blue" value="{{ location.location_name }}">{{ location.location_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="location_name">Location*</label>
                    </div>
                </div>
                <!-- item name -->
                <div class="row no-margin-bottom">
                    <div class="input-field col s12">
                        <input id="item_name" name="item_name" value="{{ item.item_name }}" type="text" class="validate" required>
                        <label for="item_name" class="text-light-blue">Name*</label>
                    </div>
                </div>
                <!-- quantity / min quantity and price -->
                <div class="row no-margin-bottom">
                    <div class="input-field col s4">
                        <input id="quantity" name="quantity" value="{{ item.quantity }}" type="text" class="validate" required>
                        <label for="quantity" class="text-light-blue">Qty*</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="min_quantity" name="min_quantity" value="{{ item.min_quantity }}" type="text" class="validate" required>
                        <label for="min_quantity" class="text-light-blue">Min. Qty*</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="price" name="price" value="{{ item.price }}" type="text" class="validate">
                        <label for="price" class="text-light-blue">Price</label>
                    </div>
                </div>
                <!-- purchase and expiry date -->
                <div class="row no-margin-bottom">
                    <div class="input-field col s6">
                        <input id="purchase_date" name="purchase_date" value="{{ item.purchase_date }}" type="text" class="datepicker">
                        <label for="purchase_date" class="text-light-blue">Purchase Date</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="expiry_date" name="expiry_date" value="{{ item.expiry_date.strftime('%Y-%m-%d') }}" type="text" class="datepicker" required>
                        <label for="expiry_date" class="text-light-blue">Expiry Date*</label>
                    </div>
                </div>
                <!-- note -->
                <div class="row no-margin-bottom">
                    <div class="input-field col s12">
                        <textarea id="note" name="note" minlength="5"
                            maxlength="200" type="text" class="materialize-textarea validate">
                            {{- item.note -}}
                        </textarea>
                        <label for="note" class="text-light-blue">Note</label>
                    </div>
                </div>
                <!-- mandatory text -->
                <div class="row">
                    <div class="col s12">
                        <span class="mandatory-text">* Mandatory Fields</span>
                    </div>
                </div>
                <!-- cancel / submit -->
                <div class="row center-align">
                    <a href="{{ url_for('get_items', location_id=location_id) }}" class="btn btn-red">
                        Cancel
                    </a>
                    <button type="submit" class="btn">
                        Edit Item
                    </button>
                </div>
                <div>
                    <!-- flash messages -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="row flashes">
                                <p class="light-blue lighten-4 center-align">{{ message }}</p>
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}