{% extends "base.html" %}
{% block content %}

    <!-- jumbotron section start -->
    <div id="jumbotron" class="jumbotron-image" title="Stock-!t">
        <div class="container">
            <div class="row">
                <div class="col s12 jumbo-content">
                    <h3 class="jumbo-title white-text text-medium">Stock-!t</h3>
                    <p class="jumbo-subtitle white-text text-medium">Simplistic stock and inventory management at your
                        fingertips!</p>
                    <p class="jumbo-text white-text text-medium">Register for an account today and take <span
                            class="text-blue text-semibold">stock</span> of your life!</p>
                    <a href="{{ url_for('register') }}" class="btn">Register</a>
                </div>
            </div>
        </div>
    </div>
    <!-- jumbotron section end -->

    <!-- management section start -->
    <div id="management">
        <div class="container container-wrapper">
            <div class="row home-content no-margin-bottom">
                <div class="col s12 l6">
                    <h4 class="text-blue text-semibold home-title">Inventory management made simple</h4>
                    <ul>
                        <li class="man-list">
                            <i class="fas fa-globe fa-2x icon-red"></i>
                            <span class="text-grey text-medium">Manage all stock and inventory online</span>
                        </li>
                        <li class="man-list">
                            <i class="fas fa-list-ul fa-2x icon-red"></i>
                            <span class="text-grey text-medium">Create simple, yet effective lists</span>
                        </li>
                        <li class="man-list">
                            <i class="fas fa-location-dot fa-2x icon-red"></i>
                            <span class="text-grey text-medium">Organise inventory by locations</span>
                        </li>
                    </ul>
                </div>
                <div class="col s12 l6 home-content-image">
                    <img src="../static/images/home_management.webp" class="man-image" alt="Group of images showing stock-it content on mobile device">
                </div>
            </div>
        </div>
    </div>
    <!-- management section end -->

    <!-- caption section start -->
    <div id="caption" class=" bg-color-grey">
        <div class="container container-wrapper">
            <div class="row caption-text no-margin-bottom">
                <div class="col s12">
                    <p class="text-blue text-semibold no-margin-top no-margin-bottom">Whether your moving home, creating a basic shopping inventory or
                        managing stock for a small business, Stock-<span class="text-red">!</span>t has the simple yet
                        effective answer.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- caption section end -->

    <!-- pictures-double section start -->
    <div id="pictures-double">
        <div class="row">
            <div class="col s12 m6 no-padding">
                <picture>
                    <img src="../static/images/home_pictures-double-1.webp" class="home-image" alt="Lady moving house, using stock-it on tablet">
                </picture>
            </div>
            <div class="col s12 m6 no-padding">
                <picture>
                    <img src="../static/images/home_pictures-double-2.webp" class="home-image" alt="Lady using stock-it on mobile for small business">
                </picture>
            </div>
        </div>
    </div>
    <!-- pictures-double section end -->

    <!-- devices section start -->
    <div id="devices" class="">
        <div class="container container-wrapper">
            <div class="row home-content">
                <div class="col s12 l6">
                    <h4 class="text-blue text-semibold home-title">Available on mobile, desktop or tablet</h4>
                    <p class="devices-text text-grey text-medium">Use Stock-!t on mobile, desktop, or tablet, thanks to a responsive design. You can update inventory in real time from any location.</p>
                    <a href="{{ url_for('login') }}" class="btn">Login</a>
                </div>
                <div class="col s12 l6 home-content-image">
                    <img src="../static/images/home_devices.webp" class="home-image" alt="Group of images shwoing stock-it content on mobile device">
                </div>
            </div>
        </div>
    </div>
    <!-- devices section end -->

    <!-- pictures-single section start -->
    <div id="pictures-single" class="">
        <div class="row no-margin-bottom">
            <div class="col s12 no-padding">
                <picture>
                    <img src="../static/images/home_pictures-single-1.webp" class="home-image" alt="Lady on her laptop, using stock-it for her business">
                </picture>
            </div>
        </div>
    </div>
    <!-- pictures-single section end -->

{% endblock %}