{% extends "base.html" %}
{% block content %}

    <section id="jumbotron" class="card-panel jumbotron-image" title="Stock-!t">
        <div class="container">
            <div class="row">
                <div class="col s12 jumbo-content">
                    <h3 class="jumbo-title white-text text-medium">Stock-!t</h3>
                    <p class="jumbo-subtitle white-text text-medium">Simplistic stock and inventory management at your
                        fingertips!</p>
                    <p class="jumbo-text white-text text-medium">Register for an account today and take <span
                            class="text-blue text-semibold">stock</span> of your life!</p>
                    <a href="" class="btn">Register</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}