{% extends "base.html" %}
{% block content %}

<div class="container-wrapper bg-color-red">
    <div class="container">
        <div class="row no-margin-bottom valign-wrapper">
            <div class="col s6 title-left">
                {% if request.endpoint == 'get_items' %}
                    <h5 class="white-text text-medium no-margin-top no-margin-bottom">{{ location_name }}</h5>
                {% else %}
                    <h5 class="white-text text-medium no-margin-top no-margin-bottom">All items</h5>
                {% endif %}
            </div>
            <div class="col s6 right-align title-right">
                {% if request.endpoint == 'get_items' %}
                    <a href="{{ url_for('add_item', location_id=location_id) }}" class="btn">Add Item</a>
                {% else %}
                    <a href="{{ url_for('add_item', location_id='none') }}" class="btn">Add Item</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container-wrapper-1 bg-color-light-blue center-align">
    <div class="container">
        <div class="row no-margin-bottom">
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="col s12">
                        <p class="white-text text-medium no-margin-top no-margin-bottom">{{ message }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

<div class="container-wrapper-1">
    <div class="container">
        <div class="row">
            <div class="col s6 no-padding">
                <a href="{{ url_for('dashboard') }}" class="text-blue breadcrumbs">Dashboard</a>
                {% if request.endpoint == 'get_items' %}
                    <i class="fa-solid fa-angle-right icon-red"></i>
                    <a href="{{ url_for('get_locations') }}" class="text-blue breadcrumbs"> Locations</a>
                    <i class="fa-solid fa-angle-right icon-red"></i>
                    <span class="text-blue"> {{ location_name }}</span>
                {% else %}
                    <i class="fa-solid fa-angle-right icon-red"></i>
                    <a href="{{ url_for('get_items_all') }}" class="text-blue breadcrumbs"> Items</a>
                {% endif %}
            </div>
                    
        </div>
        <div class="row card-panel bg-color-grey search-container">
            <div class="col s12 no-padding right">
                <form action="{{ url_for('search') }}" method="POST">
                    <div class="row valign-wrapper center-align no-margin-bottom">
                        <div class="input-field col s12 m8 no-margin-top right-align">
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search Items</label>
                        </div>
                        <div class="col s12 m4 no-margin-top right-align">
                            <a href="{{ url_for('get_items_all') }}" class="btn btn-red search-button">Reset</a>
                            <button type="submit" class="btn search-button">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>

<div class="container-wrapper">
    <div class="container container-items">
        <div class="row valign-wrapper">
            <div class="col s12 items">
                {% if items|length > 0 %}
                <ul class="collapsible">
                    {% for item in items %}
                    <li>
                        <div class="collapsible-header">
                            <table class="header-table">
                                <tr>
                                    <th class="table-header" rowspan="2">
                                        <i class="fas fa-caret-right icon-red"></i>
                                    </th>
                                    <td class="left-align no-padding"><span class="text-light-blue text-semibold">{{ item.item_name }}</span></td>
                                    <td class="right-align no-padding hide-on-small-only"><span class="text-light-blue"><span class="text-medium">Qty: </span>{{ item.quantity }}</span></td>
                                    <th class="table-header" rowspan="2">
                                        <!-- Dropdown Trigger -->
                                        <a class='dropdown-trigger right' href='#' data-target='dropdown-actions-{{ item.item_name }}'>
                                            <i class="fas fa-ellipsis-vertical icon-red"></i></a>
                                        
                                        <!-- Dropdown Structure -->
                                        <ul id='dropdown-actions-{{ item.item_name }}' class='dropdown-content'>
                                            <li><a href="{{ url_for('edit_item', location_id=item.location_id, item_id=item._id) }}">edit</a></li>
                                            <li><a href="{{ url_for('delete_item', location_id=item.location_id, item_id=item._id) }}">delete</a></li>
                                        </ul>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="left-align no-padding"><span class="text-light-blue">{{ item.location_name }}</span></td>
                                    <td class="right-align no-padding hide-on-small-only"><span class="text-light-blue">{{ item.price }}</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="collapsible-body">
                            <table class="body-table">
                                <tr class="hide-on-med-and-up">
                                    <th>Qty:</th>
                                    <td>{{ item.quantity }}</td>
                                </tr>
                                <tr>
                                    <th>Min Qty:</th>
                                    <td>{{ item.min_quantity }}</td>
                                </tr>
                                <tr class="hide-on-med-and-up">
                                    <th>Price:</th>
                                    <td>{{ item.price }}</td>
                                </tr>
                                <tr>
                                    <th>Purchase Date:</th>
                                    <td>{{ item.purchase_date }}</td>
                                </tr>
                                <tr>
                                    <th>Expiry Date:</th>
                                    <td>{{ item.expiry_date }}</td>
                                </tr>
                                <tr>
                                    <th>Note:</th>
                                    <td>{{ item.note }}</td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <h6 class="blue-text text-medium no-margin-top no-margin-bottom center-align">No resultes could be found</h6>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}